html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100%;
  background-color: #e9ebee;
}

#root {
  min-height: 100%;
  background-color: #e9ebee;
}

.data-loading {
  width: 100%;
  text-align: center;
  font-size: 50px;
}

.page {
  margin: 1em;
}
