@(exercises: List[Exercise])

@main("Workout organizer EXERCISES", "nav-exercises") {

	<div>
		 <ul id="muslce-groups">
			<li><a href="#">Chest</a></li>
			<li><a href="#">Back</a></li>
			<li><a href="#">Shoulders</a></li>
			<li><a href="#">Bajceps</a></li>
			<li><a href="#">Triceps</a></li>
			<li><a href="#">ALL</a></li>
		 </ul>
	</div>
	
	<div class="exercises-container">
		<ul id="exercises-list">
			@for(ex <- exercises) {
				<li>
					<div class="ex-name">
						@ex.getName()
					</div>
					<div class="ex-content">
						Description: @ex.getDescription() <br>
						Movie: @ex.getMovieUri() <br>
						Rating: @ex.getRating() <br>
					</div>
				</li>
			}
		</ul>
	</div>
}