@(exercises: List[Exercise])

@main("Workout organizer EXERCISES", "nav-exercises") {

	<div>
		 <ul id="muslce-groups">
			<li><a href="/fileterExercises?muscles=klata">Chest</a></li>
			<li><a href="/fileterExercises?muscles=plecy">Back</a></li>
			<li><a href="/fileterExercises?muscles=barki">Shoulders</a></li>
			<li><a href="/fileterExercises?muscles=biceps">Bajceps</a></li>
			<li><a href="/fileterExercises?muscles=triceps">Triceps</a></li>
			<li><a href="/exercises">ALL</a></li>
		 </ul>
	</div>

	<div class="exercises-container">
		<ul id="exercises-list">
			@for(ex <- exercises) {
				<li>
					<div class="ex-name">
						@ex.getName()
						<div class="ex-rating" data-average="@ex.getRating()" data-id="@ex.getId()">
						</div>
						<button id="showBest-@ex.getId()">Show your best!</button>
					</div>
					<div class="ex-content">
						Description: @ex.getDescription() <br>
						Movie: @ex.getMovieUri() <br>
						Rating: @ex.getRating() (@ex.getRatingsCount()) <br>
						Target muscles: @Arrays.toString(ex.getTargetMuscles.toArray())
					</div>
				</li>
				
				<script>
					$('#showBest-@ex.getId()').click(function() {
						$.ajax({
							url: '/showBest',
							type: 'POST',
							data: {
								exerciseId: @ex.getId()
							},
							success: function(data) {
								alert(data);
							},
							error: function(xhr, ajaxOptions, thrownError) {
								alert('Error!');
							}
						});
					});
				</script>
			}
		</ul>
	</div>
	
	<script>
		$('.ex-rating').jRating({
			length: 10,
			step: true,
			rateMax: 10,
			onClick: function (el, rate) {
				var id = $(el).data('id');
				$.ajax({
					method: 'POST',
					url: "/exercises/" + id,
					data: { rating: rate }
				})
			}
		});
	</script>
}