@(strangers: List[Stranger])

@main("Workout organizer HOME", "nav-home") {

  <div id="strangers">
  	@for((s, index) <- strangers.zipWithIndex) {
				<li>
					@s.getFirstName() @s.getLastName()<br>
					<button id="add-@index">Add friend!</button>
					<script type="text/javascript">
						$('#add-@index').click(function() {
							$.ajax({
								url: '/addFriend',
								type: 'POST',
								data: {
									strangerId: @s.getId()
								},
								success: function() {
									alert('Request sent');
								},
								error: function(xhr, ajaxOptions, thrownError) {
									alert('Error!');
								}
							});
						})
					</script>
				</li>
			}
  </div>

}