@(title: String, activeNavBar: String)(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="stylesheets/main.css">
        <link rel="shortcut icon" type="image/png" href="images/favicon.png">
        
        <script type="text/javascript" src="javascripts/navigation.js"></script>
        <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
        	activateNavbar("@activeNavBar");
        });
        </script>        
    </head>
    <body>
    	 <header>
	    <div class="nav">
	      <ul>
	        <li ><a id="nav-home" href="/home">Home</a></li>
	        <li ><a id="nav-training" href="#">Training</a></li>
	        <li ><a id="nav-exercises" href="/exercises">Exercises</a></li>
	        <li ><a id="nav-gyms" href="#">Gyms</a></li>
	        <li ><a id="nav-account" href="#">Account</a></li>
	      </ul>
	    </div>
	  </header>
        @content
    </body>
</html>