@(workouts: List[Workout])

@main("Workout organizer Workout", "nav-training") {
	
	<div class="add-entry">
		<a href="/workouts/new">Add new workout</a>
	</div>

	@for(w <- workouts) {
		<div class="workout" data-id="@w.getId()">
			<div class="info">
				Gym: @w.getGymName()<br>
				Started at: @w.getStartedAt<br>
				Finished at: @w.getFinishedAt<br>
				Note: @w.getNote()<br>
			</div>
			<a class="toggle-entries" data-id="@w.getId()">Show/hide details</a>
			<div class="workout-entries" data-id="@w.getId()" style="display: none;">
				<ul>
				@for(we <- w.getWorkoutEntries()) {
					<li>
						Exercise: @we.getExerciseName()<br>
						Sets count: @we.getSetsCount()<br>
						Reps per set: @we.getRepsPerSet()<br>
						Weight: @we.getWeight() kg
					</li>
				}
				</ul>
			</div>
		</div>
	}
	
	<script type="text/javascript" src="/javascripts/workouts.js"></script>
}